<h3>Available Items:</h3>
<ul>
    {% for item in items %}
    <li>
        {{ item['name'] }} - ${{ item['price'] }}
        <form action="{{ url_for('add_to_cart') }}" method="post">
            <input type="hidden" name="item_id" value="{{ item['_id'] }}">
            
            <select name="cart_name">
                <option value="Diwali Sale">Diwali Sale</option>
                <option value="Holi Sale">Holi Sale</option>
                <option value="Independence Day Sale">Independence Day Sale</option>
            </select>
            
            <input type="submit" value="Add to Cart">
        </form>
    </li>
    {% endfor %}
</ul>
